* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header a {
  color: white;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

body {

  /* background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428); */

  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-family: 'Times New Roman', Times, serif;
}

header {
  padding: 15px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.presentacion {
  width: 450px;
}

.presentacion h1 {
  font-size: 60px;
  color: #157585;
  /* text-shadow: 0 0 30px white; */
  margin-bottom: 20px;
}

.presentacion p {
  font-size: 25px;
}

.carta {
  position: relative;
  transform-style: preserve-3d;
  font-size: 0.75rem;
  width: 15em;
  height: 20em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carta::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 90vh;
  background: #fff;
}

.carta::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZwogIHdpZHRoPSIzMmVtIgogIGhlaWdodD0iMzJlbSIKICB2ZXJzaW9uPSIxLjEiCiAgdmlld0JveD0iMCAwIDEyOCAxMjgiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgo+CiAgPGcgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgIDxjaXJjbGUKICAgICAgY3g9IjY0IgogICAgICBjeT0iNjQiCiAgICAgIHI9IjYwIgogICAgICBmaWxsPSIjNzMwMGZmIgogICAgICBmaWxsLW9wYWNpdHk9Ii4yNSIKICAgICAgc3Ryb2tlLXdpZHRoPSI3LjUiCiAgICAvPgogICAgPGNpcmNsZQogICAgICBjeD0iNjQiCiAgICAgIGN5PSI2NCIKICAgICAgcj0iMzguNjM0IgogICAgICBmaWxsPSIjZDEzZDkxIgogICAgICBmaWxsLW9wYWNpdHk9Ii41IgogICAgICBzdHJva2Utd2lkdGg9IjQuODI5MyIKICAgIC8+CiAgICA8Y2lyY2xlCiAgICAgIGN4PSI2NCIKICAgICAgY3k9IjY0IgogICAgICByPSIyNi45OTkiCiAgICAgIGZpbGw9IiNmZjVlNWUiCiAgICAgIGZpbGwtb3BhY2l0eT0iLjc1IgogICAgICBzdHJva2Utd2lkdGg9IjMuMzc0OSIKICAgIC8+CiAgICA8Y2lyY2xlIGN4PSI2NCIgY3k9IjY0IiByPSIyMS4xNDMiIGZpbGw9IiNmZjhkNGYiIHN0cm9rZS13aWR0aD0iMi42NDI5IiAvPgogICAgPGNpcmNsZSBjeD0iNjQiIGN5PSI2NCIgcj0iMTAuMjMxIiBmaWxsPSIjZmZkNjVjIiBzdHJva2Utd2lkdGg9IjEuMjc4OSIgLz4KICAgIDxnIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMyI+CiAgICAgIDxjaXJjbGUKICAgICAgICBjeD0iNjQiCiAgICAgICAgY3k9IjY0IgogICAgICAgIHI9IjYwIgogICAgICAgIHN0cm9rZT0iIzQzMjViYSIKICAgICAgICBzdHJva2UtZGFzaGFycmF5PSI3OCwgMTIsIDE4IgogICAgICA+CiAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0KICAgICAgICAgIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIKICAgICAgICAgIHR5cGU9InJvdGF0ZSIKICAgICAgICAgIGZyb209IjAgNjQgNjQiCiAgICAgICAgICB0bz0iMzYwIDY0IDY0IgogICAgICAgICAgZHVyPSIyMHMiCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIKICAgICAgICAvPgogICAgICA8L2NpcmNsZT4KICAgICAgPGNpcmNsZQogICAgICAgIGN4PSI2NCIKICAgICAgICBjeT0iNjQiCiAgICAgICAgcj0iNDguMzE3IgogICAgICAgIHN0cm9rZT0iIzIzNThkZSIKICAgICAgICBzdHJva2UtZGFzaGFycmF5PSI1NCwxMiwxMiw2LDMsNjAiCiAgICAgID4KICAgICAgICA8YW5pbWF0ZVRyYW5zZm9ybQogICAgICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIgogICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgZnJvbT0iMCA2NCA2NCIKICAgICAgICAgIHRvPSIzNjAgNjQgNjQiCiAgICAgICAgICBkdXI9IjEwcyIKICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIgogICAgICAgIC8+CiAgICAgIDwvY2lyY2xlPgogICAgICA8Y2lyY2xlCiAgICAgICAgY3g9IjY0IgogICAgICAgIGN5PSI2NCIKICAgICAgICByPSIzOC42MzQiCiAgICAgICAgc3Ryb2tlPSIjZDEzZDkxIgogICAgICAgIHN0cm9rZS1kYXNoYXJyYXk9IjM2LDEyLDYsMjQiCiAgICAgID4KICAgICAgICA8YW5pbWF0ZVRyYW5zZm9ybQogICAgICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIgogICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgZnJvbT0iMCA2NCA2NCIKICAgICAgICAgIHRvPSItMzYwIDY0IDY0IgogICAgICAgICAgZHVyPSIxNnMiCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIKICAgICAgICAvPgogICAgICA8L2NpcmNsZT4KICAgICAgPGNpcmNsZQogICAgICAgIGN4PSI2NCIKICAgICAgICBjeT0iNjQiCiAgICAgICAgcj0iMjYuOTk5IgogICAgICAgIHN0cm9rZT0iI2ZmNWU1ZSIKICAgICAgICBzdHJva2UtZGFzaGFycmF5PSIxOCwgNiwgOSwgMjQiCiAgICAgID4KICAgICAgICA8YW5pbWF0ZVRyYW5zZm9ybQogICAgICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIgogICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgZnJvbT0iMCA2NCA2NCIKICAgICAgICAgIHRvPSIzNjAgNjQgNjQiCiAgICAgICAgICBkdXI9IjEzcyIKICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIgogICAgICAgIC8+CiAgICAgIDwvY2lyY2xlPgogICAgICA8Y2lyY2xlCiAgICAgICAgY3g9IjY0IgogICAgICAgIGN5PSI2NCIKICAgICAgICByPSIyMS4xNDMiCiAgICAgICAgc3Ryb2tlPSIjZmY1ZTVlIgogICAgICAgIHN0cm9rZS1kYXNoYXJyYXk9IjYsIDYsIDQyLCA2LCA5LCA2LCAzLCAyOTciCiAgICAgID4KICAgICAgICA8YW5pbWF0ZVRyYW5zZm9ybQogICAgICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIgogICAgICAgICAgdHlwZT0icm90YXRlIgogICAgICAgICAgZnJvbT0iMCA2NCA2NCIKICAgICAgICAgIHRvPSItMzYwIDY0IDY0IgogICAgICAgICAgZHVyPSIxMHMiCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIKICAgICAgICAvPgogICAgICA8L2NpcmNsZT4KICAgICAgPGNpcmNsZQogICAgICAgIGN4PSI2NCIKICAgICAgICBjeT0iNjQiCiAgICAgICAgcj0iMTQuNjU2IgogICAgICAgIHN0cm9rZT0iI2ZmZDY1YyIKICAgICAgICBzdHJva2UtZGFzaGFycmF5PSI5LDksMjQsMjk3IgogICAgICA+CiAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0KICAgICAgICAgIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIKICAgICAgICAgIHR5cGU9InJvdGF0ZSIKICAgICAgICAgIGZyb209IjAgNjQgNjQiCiAgICAgICAgICB0bz0iMzYwIDY0IDY0IgogICAgICAgICAgZHVyPSIxMHMiCiAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIKICAgICAgICAvPgogICAgICA8L2NpcmNsZT4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
  background-size: 30rem;
  width: 30rem;
  height: 30rem;
  --rx: 60deg;
  transform: rotateX(var(--rx)) rotateZ(0deg);
  pointer-events: none;
}

.carta .heading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 1em;
  background-image: linear-gradient(90deg, rgba(255, 0, 111, 0.4) 0%, rgba(128, 40, 183, 1) 50%, rgba(0, 80, 255, 0.4) 100%);
  border-radius: 15px;
  cursor: pointer;
  transform: translateZ(1px) translateY(-5em)
}

.carta .heading span {
  font-weight: 700;
  background: linear-gradient(90deg, rgba(123, 173, 255, 1) 0%, rgba(209, 131, 255, 1) 50%, rgba(123, 173, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 50% 50%;
  animation: animatedBackground 1s linear infinite;
}

.carta .heading span::after {
  content: "!";
}

section {
  height: 70vh;
  background: #0004287a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-me {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.img-me img {
  width: 250px;
  height: 270px;
}

.iconos {
  display: flex;
}

.iconos i {
  margin: 10px;
  font-size: 40px;
}

.info-about-me {
  width: 450px;
}

.info-about-me h2 {
  margin-bottom: 15px;
  font-size: 45px;
  /* background: linear-gradient(90deg, rgba(123,173,255,1) 0%, rgba(209,131,255,1) 50%, rgba(123,173,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
  color: cyan;
  text-shadow: 0 0 30px cyan;
}

.btn-descargar {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-descargar:hover {
  background-color: #0056b3;
}


.titulo-experience {
  margin: 30px;
  font-size: 40px;
  color: cyan;
  text-shadow: 0 0 30px cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-experience {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-experience {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconos-experience i {
  margin: 10px;
  font-size: 40px;
}

.iconos-experience span {
  font-size: 20px;
}

.info-experience>h2,
.icon-experience>h2 {
  margin-bottom: 30px;
}

.areas {
  height: 90vh;
  background: #0004287a;
  justify-content: center;
}

.type-area {
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.type-area h1 {
  margin-bottom: 20px;
  width: 100%;
  background: #0004287a;
  color: cyan;
  text-shadow: 0 0 30px cyan;
  display: flex;
  justify-content: center;
}

.type-area h1 i {
  margin: 0 20px;
}

.type-area ul li {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  /* background: linear-gradient(90deg,
     rgba(123,173,255,1) 0%,
     rgba(209,131,255,1) 50%, 
     rgba(123,173,255,1) 100%); */
  /* background: linear-gradient(90deg,
    rgba(255,0,111, 0.4) 0%, 
    rgba(128,40,183,1) 50%, 
    rgba(0,80,255, 0.4) 100%); */
  box-shadow: 0 0 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-area ul li:hover {
  color: black;
  background: cyan;
  box-shadow: 0 0 20px cyan;
}

.type-area ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Estilos para alerta en la seccion de proyectos */

article {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #fee2e2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.image svg {
  color: #dc2626;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
  background-color: #f9fafb;
}

.desactivate {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #dc2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}


/* Fin de estilos de alerta */

#proyectos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.proyectos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.proyecto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 60%;
  height: 300px;
  background: #0004287a;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
} 

.img{
  padding: 5px;
  width: 50%;
  height: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img{
  display: none;
}

.proyectos .proyecto:nth-child(1) .img{ 
  background: url(img/LD.png) no-repeat center center;
  background-size: cover;
}

.proyectos .proyecto:nth-child(2) .img{
  background: url(img/NB.png) no-repeat center center;
  background-size: cover;
}

.proyectos .proyecto:nth-child(3) .img{
  background: url(img/LX.png) no-repeat center center;
  background-size: cover;
}


/* .proyectos .img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */

.proyectos .inf_proyect{
  margin: 3%;
  padding: 8px;
  width: 45%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inf_proyect h2{
  margin-bottom: 10px;
  font-size: 30px;
  color: cyan;
}

.inf_proyect p{
  margin-bottom: 10px; 
  font-size: 17px;
}

.inf_proyect a{
  width: 35%;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.Redes {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-redes {
  width: 450px;
}

.info-redes h1 {
  font-size: 60px;
  margin-bottom: 20px;
  width: 100%;
  color: cyan;
  text-shadow: 0 0 30px cyan;
}


.socials-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px 40px;
}

.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}

.whatsapp {
  background: linear-gradient(45deg, #0f321c, #16bd19, #00ff1e, #dbedff);
}

.facebook {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.google-plus {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: -webkit-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social svg {
  fill: white;
  height: 20px;
}


@media screen and (max-width: 768px) {

  body {
    font-size: 14px;
  }

  header {
    padding: 15px;
    max-width: 100%;
    justify-content: space-between;
  }

  main {
    height: 90vh;
    flex-direction: column;
  }

  .presentacion {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .presentacion h1 {
    font-size: 35px;
  }

  .presentacion p {
    font-size: 17px;
  }

  .carta::after {
    background-size: 20rem;
    width: 20rem;
    height: 20rem;
  }

  .carta::before {
    display: none;
  }

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .info-about-me {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .info-about-me h2 {
    font-size: 40px;
  }

  .areas {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
  }

  .type-area {
    max-width: 290px;
  }

  .type-area ul li {
    height: 50px;
    font-size: 15px;
  }

  .titulo-project {
    font-size: 30px;
  }

  .target {
    max-width: 270px;
  }

  .experience {
    flex-direction: column;
  }

  .icon-experience>h2 {
    margin-top: 30px;
  }

  .info-experience {
    max-width: 310px;
  }

  .proyecto {
    flex-direction: column;
  }

  .proyecto {
    width: 80%;
    height: 450px;
  }

  .proyectos .inf_proyect {
    width: 100%;
    height: 50%;
  }

  .proyectos .img {
    width: 100%;
    height: 45%;
  }

  .img img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    display: block;
  }

  .proyectos .proyecto:nth-child(1) .img{
    background: none;
  }

  .proyectos .proyecto:nth-child(2) .img{
    background: none;
  }

  .proyectos .proyecto:nth-child(3) .img{
    background: none;
  }

  .type-projects {
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .target {
    flex: 1 0 auto;
    margin: 0 20px;
  }

  .target::-webkit-scrollbar {
    height: 40px;
  }

  .Redes {
    flex-direction: column;
    height: 60vh;
  }

  .info-redes {
    max-width: 310px;
  }

  .info-redes h1 {
    font-size: 40px;
  }

  .socials-container {
    max-width: 310px;
    flex-wrap: wrap;
  }

}